html{
  width: 100%;
  height: 100%;
}
body {
  font-family: "Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  margin: 0;
  text-align: center;
}
h1 {
  width: 100%;
  font-size: 48px;
  color: #333;
}

img {
  display: inline-block;
/*  width: 100px; */
/*  height: 50px; */
  width: 100%;
  height: 100%;
}